.header__lang-link {
  font-family: Inter, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 117%;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 18px;

  cursor: pointer;
}

.header__lang-link:last-child {
  margin-right: 0px;
}

.header__lang-link:first-child {
  text-decoration: underline;
}

@media (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 111%;
  }
}
