.cover__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  max-width: 100%;
  min-height: 740px;

  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.cover__link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2A2C2F;
  opacity: 0.3;
}

.cover__link:hover {
  background: #2A2C2F;
  opacity: 0.8;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}


@media (max-width: 1024px) {
  .cover__link {
    min-height: 640px;
  }
}

@media (max-width: 768px) {
  .cover__link {
    min-height: 480px;
  }
}

@media (max-width: 500px) {
  .cover__link {
    min-height: 300px;
  }
}

@media (max-width: 320px) {
  .cover__link {
    min-height: 200px;
  }
}


