.cover__subtitle {
  z-index: 1;
  margin: 32px 0 0;
  max-width: 375px;
  font-family: Inter, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}



@media (max-width: 768px) {
  .cover__subtitle {
    font-size: calc(14px + (4 + 4 * 0.7) * ((100vw - 320px) / 1280));
  }
}

@media (max-width: 320px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}
