.cover__subtitle {
  margin: 33px 0 0;
  max-width: 370px;
  font-family: Inter, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 125%;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}




@media (max-width: 320px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
    margin: 16px auto 0;
  }
}
