.card__url-heading {
  margin: 0;
  font-family: Inter, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 2px;
  color: #AAAAAA;
}

@media (max-width: 320px) {
  .card__url-heading {
    font-size: 12px;
    line-height: 12px;
  }
}
