.card__url-heading {
  margin: 0;
  font-family: Inter, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: 2px;
  color: #AAAAAA;
  text-transform: uppercase;
}
