.card__url {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (max-width: 860px) {
  .card__url {
    gap: 12px;
  }
}

@media (max-width: 650px) {
   .card__url {
     align-self: flex-start;
   }
 }

 @media (max-width: 420px) {
   .card__url {
     padding-left: 16px;
   }
 }
