.footer__link {
  cursor: pointer;
  font-family: Inter, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 112%;
  color: #FFFFFF;
  text-decoration: none;

  transition: all 0.5s ease-in-out;
}

.footer__link:hover {
  opacity: 0.8;
}
@media (max-width: 320px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}
