.card__text {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

@media (max-width: 860px) {
  .card__text {
    gap: 25px;
  }
}

@media (max-width: 650px) {
   .card__text {
     max-width: 340px;
   }
 }

 @media (max-width: 420px) {
  .card__text {
    padding: 0 16px 0;
  }
}

@media (max-width: 320px) {
  .card__text {
    max-width: 288px;
    padding-right: 0;
  }
}
