.lead__subtitle {
  max-width: 640px;
  margin: 0 auto 64px;

  font-family: Inter, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 120%;
  color: #FFFFFF;
  text-align: center;
}

@media (max-width: 1024px) {
  .lead__subtitle {
    margin: 0 auto 56px;
  }
}

@media (max-width: 700px) {
  .lead__subtitle {
    max-width: 400px;

    font-size: 25px;
    margin: 0 auto 40px;
  }
}

@media (max-width: 500px) {
  .lead__subtitle {
    max-width: 300px;
    font-size: 16px;
    line-height: 20px;
  }
}
