.cover {
  position: relative;
  max-width: 1184px;
  min-height: 740px;
  margin: 92px auto 0;

  background: url(../../images/cover/cover-trains.jpg) center no-repeat;
  background-size: cover;
}

@media (max-width: 1024px) {
  .cover {
    min-height: 640px;
    margin: 92px auto 0;
  }
}

@media (max-width: 768px) {
  .cover {
    margin: 96px auto 0;
    min-height: 480px;
  }
}

@media (max-width: 500px) {
  .cover {
    min-height: 300px;
  }
}

@media (max-width: 320px) {
  .cover {
    min-height: 200px;
    margin: 66px auto 0;
  }
}
