.lead__img {
  display: block;
  max-width: 984px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .lead__img {
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .lead__img {
    max-width: 100%;
  }
}

@media (max-width: 320px) {
  .lead__img {
    max-width: 100%;
  }
}
