.cover__title {
  z-index: 1;
  max-width: 560px;
  margin: 0;
  font-family: Inter, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .cover__title {
    font-size: calc(32px + (40 + 40 * 0.7) * ((100vw - 320px) / 1280));
  }
}

@media (max-width: 320px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}
