.cover__title {
  max-width: 560px;
  margin: 0;
  font-family: Inter, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
  color: #FFFFFF;
  z-index: 1;
}



@media (max-width: 600px) {
  .cover__title {
    margin: 0 auto;
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}
