.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  column-gap: 19px;
}

@media (max-width: 320px) {
  .footer__list {
    flex-direction: column;
    row-gap: 32px;
  }
}

