.footer {
  margin: 0 auto;
  padding: 92px 15px 24px;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
}



@media (max-width: 768px) {
  .footer {
    margin: 0 auto;
    padding: 88px 15px 24px;
  }
}

@media (max-width: 700px) {
  .footer {
    flex-direction: column;
  }
}

@media (max-width: 320px) {
  .footer {
    margin-left: 16px;
    padding: 64px 15px 24px;
    flex-direction: column;
  }
}
