.footer {
  margin: 0 auto;
  padding: 93px 15px 24px;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .footer {
    max-width: 720px;
    margin: 0 auto;
    padding: 90px 15px 24px;
  }
}


@media (max-width: 320px) {
  .footer {
    margin: 64px auto 0;
    padding: 0 0 0 15px;
    flex-direction: column;
  }
}
