.card__title {
  margin: 0;
  max-width: 460px;
  font-family: Inter, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .card__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
  }
  .card:first-of-type .card__title {
    max-width: 250px;
  }
}

@media (max-width: 600px) {
  .card__title {
    margin-bottom: 32px;
  }
}


@media (max-width: 320px) {
  .card__title {
    max-width: 320px;
    font-size: 32px;
    line-height: 35px;
    padding-left: 17px;
  }
  .card:first-of-type .card__title {
    max-width: 320px;
  }
}
