.card__img {
  max-width: 460px;
  align-self: flex-start;
}

@media (max-width: 1024px) {
  .card__img {
    max-width: 440px;
  }
}

@media (max-width: 860px) {
  .card__img {
    max-width: 340px;
  }
}

@media (max-width: 650px) {
  .card__img {
     max-width: 100%;
  }
}
