.card {
  display: grid;
  grid-template-columns: 460px 484px;
  row-gap: 48px;
  column-gap: 40px;
  margin: 0 0 80px;
}

.card:last-child {
  margin: 0;
}

@media (max-width: 1024px) {
  .card {
    grid-template-columns: 440px 455px;
    row-gap: 48px;
    column-gap: 30px;
  }
}

@media (max-width: 768px) {
  .card {
    grid-template-columns: fit-content(340px) fit-content(352px);
    row-gap: 45px;
    column-gap: 28px;
    margin: 0 0 75px;
  }
}

@media (max-width: 320px) {
  .card {
    grid-template-columns: 320px;
    row-gap: 0;
    column-gap: 0;
    margin: 0 0 52px;
  }
  .card:nth-of-type(1) {
    margin: 0 0 75px;
  }
  .card:nth-of-type(4){
    margin-bottom: 78px;
  }
}
