.card {
  display: grid;
  grid-template-columns: fit-content(460px) fit-content(484px);
  row-gap: 48px;
  column-gap: 40px;
  margin: 0 0 80px;
}

.card:last-child {
  margin: 0;
}

@media (max-width: 1024px) {
  .card {
    grid-template-columns: fit-content(440px) fit-content(455px);
    row-gap: 48px;
    column-gap: 30px;
  }
}

@media (max-width: 768px) {
  .card {
    grid-template-columns: fit-content(340px) fit-content(352px);
    row-gap: 45px;
    column-gap: 28px;
    margin: 0 0 75px;
  }
}

@media (max-width: 600px) {
  .card {
    grid-template-columns: fit-content(550px);
    row-gap: 0;
    column-gap: 0;
    margin: 0 auto 52px;
  }
  .card:nth-of-type(1) {
    margin: 0 0 75px;
  }
  .card:nth-of-type(2) {
    margin: 0 0 49px;
  }
  .card:nth-of-type(3) {
    margin: 0 0 48px;
  }
  .card:nth-of-type(4){
    margin-bottom: 76px;
  }
}

@media (max-width: 320px) {
  .card {
    grid-template-columns: 320px;
  }
}
