.card {
  max-width: 984px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .card {
    max-width: 928px;
  }
}

@media (max-width: 860px) {
  .card {
    max-width: 720px;
  }
}

@media (max-width: 650px) {
 .card {
    max-width: 400px;
  }
}
