.intro__title {
  margin: 0 0 29px;
  font-family: Inter, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 146%;
  color: #FFFFFF;
}

@media (max-width: 768px){
  .intro__title {
    line-height: 107%;
    margin: 0 0 41px;
  }
}

@media (max-width: 320px){
  .intro__title {
    font-size: 32px;
  }
}
