.intro__title {
  margin: 0 0 40px;
  font-family: Inter, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 150%;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .intro__title {
    font-size: calc(32px + (12 + 12 * 0.7) * ((100vw - 320px) / 1280));
  }
}

@media (max-width: 320px){
  .intro__title {
    font-size: 32px;
  }
}
